@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Red Rose', sans-serif;
}
.bg-wallet-gradient{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
.input{
    border-right: none;
}
